pyrofork
tgcrypto

pymongo[srv]==4.6.1
motor==3.3.2
umongo==3.1.0
marshmallow==3.20.1

git+https://github.com/Joelkb/cinemagoer

heroku3
search_engine_parser
wget
aiofiles
ffmpeg-python
requests
aiohttp
telegraph
ujson
pyshorteners
pytz
dnspython==2.4.2

Pillow
speedtest-cli
psutil
shortzy
fuzzywuzzy
python-Levenshtein

edge-tts

gunicorn==21.2.0
Flask==2.2.5
werkzeug==2.2.3
itsdangerous==2.1.2
